<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File Server</title>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
        <link rel="stylesheet" href="../css/forgotpassword.css">
    </head>
    <body>
        <div id="forgotPassword_div">
            <form id="forgotPassword_form" action="">
                
                <div id="email_div">
                    <input type="text" id="email" name="email" placeholder="Email"  >
                </div>
                <div id="forgotPassword_btn_div">
                    <button type="submit" id="forgotPassword_btn" name="forgotPassword_btn">Verify</button>
                </div>
            </form>
            <a id="login_link" href="https://fileserver-amalitech.herokuapp.com/index.html">Go back to Login</a>
            <!-- <button id="sign_up">SIGN UP</button> -->
        </div>
        
    </body>
    <script src = "../scripts/forgotpassword.js"></script>
</html> 