<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>File Server</title>
        <!-- <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script> -->
        <!-- <link rel="stylesheet" href="../css/signup.css"> -->
    </head>
    <body>
        <div id="signup_form_div">
            <form id="signup_form" action="">
                <div id="username_div">
                    <input type="text" id="username" name="username" placeholder="User Name"  >
                </div>
                <div id="email_div">
                    <input type="email" id="email" name="email" placeholder="Email"  >
                </div>
                <div id="password_div">
                    <input type="password" id="password" name="password" placeholder="password">
                </div>
                <!-- <div id="signup_btn_div">
                    <button type="submit" id="signup_btn" name="signup_btn">Save</button>
                </div> -->
            </form>
            <a href="../index.html">Go to Login</a>
            <button id="sign_up" type="submit">Create</button>
        </div>
        
    </body>
    <script src = "/controller/scripts/create.js"></script>
</html> 